<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="utf-8">
<title>Page Stagiaire</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container my-4 text-center">
			<div class="uk-card uk-card-default uk-card-small uk-card-body my-4">
				<h3 class="uk-card-title my-4">Small</h3>
				<p>Systéme de gestion des Stagiaires.</p>
			</div>
		</div>
	</div>
</body>
</html>